<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <title>Tu belleza y estilo en nuestras manos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" maximun-scale="1.0" minimun-scale="1.0">
    <meta name="description" content="">
    <link rel="icon" href="img/favicon.png"><link href="https://file.myfontastic.com/cnCA2CwLBA4DN7vp44pt7h/icons.css" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://code.jquery.com/jquery-3.2.0.min.js"></script>
    <script src="js/scripts.js"></script>
  </head>
  <body>
    <header class="main-header">
      <div class="l-container"><a href=""><img class="logo" src="img/logo.png" alt=""></a>
        <div class="icon-menu" id="toggle-menu"></div>
        <nav class="main-nav" id="main-nav">
          <ul class="main-menu">
            <li class="main-menu__item"><a class="main-menu__link" href="#">Inicio</a></li>
            <li class="main-menu__item"><a class="main-menu__link" href="#">Staff</a></li>
            <li class="main-menu__item"><a class="main-menu__link" href="#">Servicios</a></li>
            <li class="main-menu__item"><a class="main-menu__link" href="#">Promociones </a></li>
            <li class="main-menu__item"><a class="main-menu__link" href="#">Promociones</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <div class="banner"><img class="banner__img" src="img/banner.jpg" alt="">
      <div class="banner__copy">
        <h1 class="banner__copy__title">Tu belleza y estilo en nuestras manos</h1>
        <p class="banner__copy__content">Profesionales a tu Servicio</p><a class="banner__copy__button button primary" href="#">Conoce más</a>
      </div>
    </div>
    <main>
      <div class="services">
        <div class="service">
          <h3 class="service__title">Cabello</h3>
        </div>
        <div class="service">
          <h3 class="service__title">Manos y pies</h3>
        </div>
        <div class="service">
          <h3 class="service__title">Cuidado de la piel</h3>
        </div>
      </div>
      <div class="staff-container l-container">
        <h2 class="staff-title">staff</h2>
        <div class="staff-member"><img class="staff-member__img" src="img/staff-1.jpg" alt="">
          <h3 class="staff-member__name">Laura</h3><a class="staff-member__button button third" href="#">Pedir cita</a>
        </div>
        <div class="staff-member"><img class="staff-member__img" src="img/staff-1.jpg" alt="">
          <h3 class="staff-member__name">Carmen</h3><a class="staff-member__button button third" href="#"> Pedir cita</a>
        </div>
        <div class="staff-member"><img class="staff-member__img" src="img/staff-1.jpg" alt="">
          <h3 class="staff-member__name">Mario</h3><a class="staff-member__button button third" href="#"> Pedir cita</a>
        </div>
        <div class="staff-member"><img class="staff-member__img" src="img/staff-1.jpg" alt="">
          <h3 class="staff-member__name">Sandra</h3><a class="staff-member__button button third" href="#"> Pedir cita</a>
        </div>
      </div>
      <div class="contact l-container">
        <div class="contact-data">
          <h2 class="subtitle">Visitanos</h2>
          <div class="contact-map"></div><iframe src="https://www.google.com/maps/d/embed?mid=1M0lO063AY4JzzboaSX9rW9Bn9pc" width="100%" height="350"></iframe>
          <div class="contact-address icon-pos">Calle ABC, 123, int 201 México DF</div>
          <div class="contact-phone icon-phone">907-654-321</div>
        </div>
        <div class="contact-form-container"> 
          <h2 class="subtitle">O escribenos</h2>
          <form class="contact-form" action="contact.php" method="post">
            <label for="name">Su nombre:</label>
            <input type="text" name="name" id="name">
            <label for="email">Su correo:</label>
            <input type="email" name="email" id="email">
            <label for="tel">Su télefono:</label>
            <input type="text" name="phone" id="tel">
            <label for="message">Su mensaje</label>
            <textarea name="message" id="message"></textarea>
            <input class="button secundary" type="submit" value="enviar">
          </form>
        </div>
      </div>
    </main>
    <footer class="main-footer"><a class="social-icon icon-facebook" href="#"></a><a class="social-icon icon-twitter" href="#"></a><a class="social-icon icon-youtube" href="#"></a></footer>
  </body>
</html>